Rag Hybrid - Sela.json
{
  "name": "Rag Hybrid - Sela",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1104,
        3952
      ],
      "id": "fd16817e-1058-4b32-bd96-007e17168443",
      "name": "When chat message received",
      "webhookId": "ce675d1b-8845-45a0-a2ff-bbe3d64057b6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        6112,
        2576
      ],
      "id": "e27c884b-d40c-463a-b999-c9ce3aa9af93",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "2Gmlg4EyxLmQNqEt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents_v2",
          "mode": "list",
          "cachedResultName": "documents_v2"
        },
        "embeddingBatchSize": 500,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        6176,
        2320
      ],
      "id": "b8af8b74-18cf-4123-97de-9fedccc081fa",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "7JzE3J7k3ob6LCl3",
          "name": "Supabase Accout - AiBot"
        }
      }
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.text }}",
        "dataPropertyName": "hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        944,
        2640
      ],
      "id": "6dcdd5f6-9ef0-4da0-9c9f-f0f3c6ba96f6",
      "name": "Generate Hash"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2064,
        1584
      ],
      "id": "24fae751-8c83-4a80-bbc7-cd53ca505889",
      "name": "Download File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eaceSprlGvh6NBeU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "record_manager_v2",
        "filters": {
          "conditions": [
            {
              "keyName": "doc_id",
              "condition": "eq",
              "keyValue": "={{ $('Set Data').item.json.doc_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1184,
        2640
      ],
      "id": "084e7072-8760-4acf-8720-0d2310e8c50c",
      "name": "Search Record Manager",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "7JzE3J7k3ob6LCl3",
          "name": "Supabase Accout - AiBot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        768,
        1472
      ],
      "id": "54609709-240a-469c-badb-619e0c5e6d13",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "ad01f150-f021-454c-aa13-eea5b26c2cba"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dcd400bc-0b91-4c30-81bd-da402e4a2730",
                    "leftValue": "={{ $json.hash }}",
                    "rightValue": "={{ $('Generate Hash').item.json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ca0c7ef8-09f9-4424-947b-8469b1ed8cac",
                    "leftValue": "={{ $json.hash }}",
                    "rightValue": "={{ $('Generate Hash').item.json.hash }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1360,
        2624
      ],
      "id": "1ced3680-4099-4a21-b620-ea80f843d3b3",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents_v2",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $('Loop Over Items').item.json.id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1728,
        2800
      ],
      "id": "6999aa39-2bb6-4378-909a-aa98837920f9",
      "name": "Delete Previous Vectors",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "7JzE3J7k3ob6LCl3",
          "name": "Supabase Accout - AiBot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "record_manager_v2",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Search Record Manager').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "hash",
              "fieldValue": "={{ $('Generate Hash').item.json.hash }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2160,
        2800
      ],
      "id": "5f86a2a2-b44b-462f-bde8-c60eacbaba25",
      "name": "Update our Record Manager",
      "credentials": {
        "supabaseApi": {
          "id": "7JzE3J7k3ob6LCl3",
          "name": "Supabase Accout - AiBot"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1936,
        2800
      ],
      "id": "587ed2be-617d-4b7c-a627-dee5ebf360e9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# File Name\n{{ $('Set Data').item.json.doc_name }}\n\n##################\n\n# File Contents\n{{ \n$('Set Text').item.json.text.split(/\\s+/).length > 500 \n    ? $('Set Text').item.json.text.split(/\\s+/).slice(0, 500).join(' ') + '...' \n    : $('Set Text').item.json.text \n}}\n\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=\nבהתבסס על שם הקובץ ותוכנו, יש לחלץ תיאור בן משפט אחד של נושא המסמך ולסווג את המסמך לפי קטגוריה.\nיש להציג את הפלט בפורמט JSON הבא בלבד:\n{\n\"category\":\"<ADD>\",\n\"company_Name\":\"<ADD>\",\n\"document_summary\":\"<ADD>\"\n}\n\n##הערות\n1.אם אינכם בטוחים לגבי אחד מהשדות, יש להציג N/A בשדה.\n2. בשדה <ADD> נדרש לכתוב בעברית"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2944,
        2496
      ],
      "id": "538a4ba0-eff6-4f7a-be24-a214ee3641fe",
      "name": "Basic LLM Chain",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"category\":\"<ADD>\",\n\"company_Name\":\"<ADD>\",\n\"document_summary\":\"<ADD>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        3136,
        2720
      ],
      "id": "9a463e2b-ea39-4ce4-b3a3-88fb78d8f969",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2912,
        2752
      ],
      "id": "9f928cd9-baa6-4160-bc83-3ad7e6657127",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "2Gmlg4EyxLmQNqEt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"company_name\": \"<ADD>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -256,
        4128
      ],
      "id": "89796be8-4b5e-4406-8e0b-ca07f92079db",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1616,
        4208
      ],
      "id": "4f2755c0-b381-4f18-91e0-905f15d287d3",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "2Gmlg4EyxLmQNqEt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a27d8259-8ed2-4638-8716-b60119b8f90c",
              "name": "text",
              "value": "={{ $json.content.parts[0].text || $json.content || $json.text || $json.markdown }}\n{{ $json.candidates[0].content.parts[0].text }}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6304,
        2032
      ],
      "id": "85bc82db-beeb-4fef-bd1c-b46672c244dc",
      "name": "Set Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90016f21-d4be-4e57-a81a-5fe290f388b9",
              "name": "content",
              "value": "={{ $('Set Text').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3440,
        2496
      ],
      "id": "250b80c0-0b26-4620-8c1f-4b915c503cbf",
      "name": "Set up Text for Embedding"
    },
    {
      "parameters": {
        "content": "## נתב סוגי קבצים\n\n### 0. Google Doc\n### 1. PDF\n### 2. HTML",
        "height": 180,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1696,
        1056
      ],
      "id": "7c50e01b-0971-4ad0-a9d9-78084062f7df",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## נתב מנהל רשומות\n\n### 0. מסמך חדש\nהוסף למנהל הרשומות ולמאגר הווקטורים\n\n### 1. ללא שינוי במסמך\nהעבר לקובץ הבא\n\n### 2. מסמך ששונה \nמחק וקטורים ישנים והוסף חדשים",
        "height": 300,
        "width": 380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        976,
        2272
      ],
      "id": "c061968d-659f-49ad-927b-0ea4c3e07135",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1MUPtIuMwP0Sv-7IGWNHswvoaX2IcwLuz",
          "mode": "list",
          "cachedResultName": "Sela File",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1MUPtIuMwP0Sv-7IGWNHswvoaX2IcwLuz"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        320,
        1472
      ],
      "id": "58e452e9-6602-492c-9a06-3d20e1b0e16f",
      "name": "New Files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eaceSprlGvh6NBeU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1v-CqdYGWAgrrcfs2tVaKERD2PWd4ele1",
          "mode": "list",
          "cachedResultName": "recycle bin",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1v-CqdYGWAgrrcfs2tVaKERD2PWd4ele1"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        320,
        1712
      ],
      "id": "2ea6303e-c1dc-4cc5-81f2-0c499be2c0ee",
      "name": "Updated Files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eaceSprlGvh6NBeU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## מחיקת קבצי RAG\nכל קובץ שבתיקיית המשנה Recycling Bin יימחק ממאגר הווקטורים ומתיקיית המשנה.",
        "height": 180,
        "width": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        560
      ],
      "id": "2dc711ec-cc49-4b7c-bac4-df5a061f73b7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## יצירה ועדכון קבצי RAG",
        "height": 180,
        "width": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        1472
      ],
      "id": "2a419df0-f4aa-48d1-8080-3bc4d9dc20dc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/crawl",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"url\": \"https://www.fia.com/\",\n  \"limit\": 20,\n  \"webhook\": {\n    \"url\": \"<ENTER WEBHOOK>\",\n    \"events\": [\n      \"page\"\n    ]\n  },\n  \"scrapeOptions\": {\n    \"formats\": [\n      \"markdown\"\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        32
      ],
      "id": "02a5b3f0-941e-4308-a651-c7ff55e58fee",
      "name": "Trigger Firecrawl",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6f3b8e8a-0777-4264-9faf-b8305f126929",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        1232
      ],
      "id": "c5723988-c875-40e8-9fdb-b18f761210a1",
      "name": "Webhook",
      "webhookId": "6f3b8e8a-0777-4264-9faf-b8305f126929",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## יצירה ועדכון Webscraping",
        "height": 180,
        "width": 280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        1200
      ],
      "id": "1576db6d-0792-497c-84a8-c84e16749365",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4f60ed7e-4284-4360-bca2-4513859e7dde",
              "leftValue": "={{ $('Webhook').isExecuted }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1376,
        1584
      ],
      "id": "e1660593-cec3-4508-8bb9-24aed20958db",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  \nitem.json.encoded_message = Buffer.from($('Loop Over Items').first().json.body.data[0].markdown).toString('base64');\n  \n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        1312
      ],
      "id": "ef86f4ac-8b4e-4226-af58-a9a4e9d18f57",
      "name": "Base64 the Markdown"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "encoded_message",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1968,
        1312
      ],
      "id": "9eeb46fa-8126-43ed-8987-58e5995d5e53",
      "name": "Convert to Binary"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39bd7383-0385-459d-85d4-126bc25347ca",
              "name": "doc_id",
              "value": "={{ $json.id || $json.body.data[0].metadata.url }}",
              "type": "string"
            },
            {
              "id": "eabda515-4cc4-49c9-9299-88aa34071946",
              "name": "doc_name",
              "value": "={{ $json.name || $json.body.data[0].metadata.title }}",
              "type": "string"
            },
            {
              "id": "464bcef6-ec45-44fd-aa9e-49bd3ecf6bf6",
              "name": "doc_type",
              "value": "={{ $('Webhook').isExecuted ? \"webpage\" : \"file\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        1584
      ],
      "id": "b9f10ffc-aca9-4ca0-8e23-8aaa99fc27bc",
      "name": "Set Data"
    },
    {
      "parameters": {
        "content": "## חילוץ נתונים מאתר אינטרנט",
        "height": 180,
        "width": 280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "439b911c-6438-41e1-95f7-6b5e3b154c1f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "4db8114c-c34f-4bc6-8c9e-78d7388e9b56",
              "leftValue": "={{ $json.body.data[0].markdown.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        1232
      ],
      "id": "dddee07d-53a9-4d41-9f4f-550c78537ab5",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2d3a9569-f099-4136-84d0-6987e691d58b",
              "leftValue": "={{ $('Set Data').item.json.doc_type }}",
              "rightValue": "file",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6416,
        3040
      ],
      "id": "33081513-99a3-472a-9b27-d66e708f7f46",
      "name": "If File"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set Data').item.json.doc_id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1VQnglnQGO_CmmWNxhw2b582Jyj99hZwW",
          "mode": "list",
          "cachedResultName": "processed",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1VQnglnQGO_CmmWNxhw2b582Jyj99hZwW"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        6672,
        3104
      ],
      "id": "9d832745-16f6-4635-8161-982f7c6ee3ac",
      "name": "Archive File",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eaceSprlGvh6NBeU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "monthsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        384,
        32
      ],
      "id": "da3ca85e-5f7b-4516-a39e-45a0e5bd466d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "# Rag Agent\nסוכן AI ",
        "height": 180,
        "width": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        3744
      ],
      "id": "e79768f1-27af-4b05-8968-9efd940dffa6",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Hybrid Search with Reranking",
        "height": 140,
        "width": 540,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2496,
        4688
      ],
      "id": "1ed5c582-e420-4b31-821a-50ee7a55fed4",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }} OR\n{{ $json.content.parts[0].text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=בהתבסס על ההקשר, כתוב metadata מתאים \nעליך לכתוב את שם החברה בהקשר לשאלה שנשאלה\nדוגמא\n\nOnly output in JSON\n\n{\n\t\"company_name\": \"<הראל>\"\n}\n\nהנה הרשימה של חברות שאתה צריך לבחור אחת מהם: \nסלע \nהראל\nמנורה\nכלל\nפניקס\nאיילון\nאנליסט\nאלטשולר\nמור\nמיטב\nמגדל\nהכשרה\n\n### הערב חשובה \nאם לא נכתב בחברה שם החברה השאר את הערך company_name ריק"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -400,
        3872
      ],
      "id": "52f18f02-7f3e-48b2-8f04-796025f4bd2e",
      "name": "Prep Metadata"
    },
    {
      "parameters": {
        "name": "Query_Vector_Store",
        "description": "Call this to fetch data from our vector store knowledgebase\n",
        "workflowId": {
          "__rl": true,
          "value": "w6TnsUQLAMqcNBXe",
          "mode": "list",
          "cachedResultName": "Rag Hybrid - Sela"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}",
            "company_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('company_name', ``, 'string') }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        560,
        4112
      ],
      "id": "05e059e5-b4bc-4211-b64c-dcebe16bc272",
      "name": "Query Vector Store"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "company_name"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        2208,
        3952
      ],
      "id": "bfab6551-6b75-4629-8ec8-18d868f860c0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={{ $json.query }}"
            },
            {
              "name": "model",
              "value": "text-embedding-3-small"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        3952
      ],
      "id": "622209fb-8491-497b-9d64-adacc17962e9",
      "name": "Generate Embedding From Query",
      "credentials": {
        "openAiApi": {
          "id": "2Gmlg4EyxLmQNqEt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pcgaxjuyqrardxdkfmsh.supabase.co/functions/v1/Hybrid-Search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjZ2F4anV5cXJhcmR4ZGtmbXNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA1Mjc2NDAsImV4cCI6MjA3NjEwMzY0MH0.G11zGbE3tN23URIVMlY8xkWiLFzKs_HzWib-5avyBtM"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query_text\": \"{{ $('When Executed by Another Workflow').item.json.query }}\",\n  \"query_embedding\": [{{ $json.data[0].embedding }}],\n  \"match_count\": 20,\n  \"filter\": {{ \n    $('When Executed by Another Workflow').item.json.company_name && \n    $('When Executed by Another Workflow').item.json.company_name.trim() !== '' \n      ? '{\"company_name\": \"' + $('When Executed by Another Workflow').item.json.company_name + '\"}' \n      : '{}' \n  }}\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        3952
      ],
      "id": "ef124d21-ddbd-4d40-928c-eff3bed0de47",
      "name": "Trigger Hybrid Search",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.com/v2/rerank",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "bearer A39HLmlbMwTweDVRpkfZ7OomD1iHMgRgxBrf7LBE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"rerank-v3.5\",\n  \"query\": \"{{ $('When Executed by Another Workflow').first().json.query }}\",\n  \"top_n\": 10,\n  \"documents\": {{ JSON.stringify($json.documents) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3152,
        3952
      ],
      "id": "0f41e9a2-bbcd-47fd-ade3-e942cd240402",
      "name": "Rerank with Cohere 3.5"
    },
    {
      "parameters": {
        "jsCode": "// Extract content and metadata from all items\nconst documentsArray = $input.all().map(item => {\n  if (!item.json) return null;\n  \n  return {\n    content: item.json.content ?? null,\n    metadata: item.json.metadata ?? null\n  };\n});\n\nconst validDocumentsArray = documentsArray.filter(doc => doc !== null && doc.content !== null);\n\n// Extract only content for Cohere (as array of strings)\nconst contentOnlyArray = validDocumentsArray.map(doc => doc.content);\n\nreturn [{\n  json: {\n    documents: contentOnlyArray,              // For Cohere - array of strings\n    original_documents: validDocumentsArray   // For later use - with metadata\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        3952
      ],
      "id": "7a9cdcbc-27fe-497b-9421-c175b1c7324a",
      "name": "Create Array"
    },
    {
      "parameters": {
        "jsCode": "// --- Code Node to Reorder Items Based on Rerank Results ---\n\n// --- Step 1: Get Data from Input Nodes ---\n// Using the input lines confirmed by the user as correct for their workflow.\n\n// Get the data array to be reordered from the 'Setup Array' node.\n// This could be an array of objects OR an array of strings.\nconst originalDataItems = $('Create Array').first().json.documents;\n\n// Get the rerank results array from the primary input node's first item.\n// (Assumed to be the Cohere Rerank node output).\nconst rerankOrderInfo = $input.first().json.results;\n\n// --- Step 2: Validate Inputs (Basic Checks) ---\n// Validate that we actually got arrays to work with.\nif (!Array.isArray(originalDataItems)) {\n  throw new Error(\"Data retrieved from $('Setup Array').first().json.documents is not an array. Check the 'Setup Array' node output.\");\n}\nif (!Array.isArray(rerankOrderInfo) || rerankOrderInfo.length === 0) {\n  // Allow rerankOrderInfo to be empty if originalDataItems is also empty\n  if (originalDataItems.length !== 0) {\n      throw new Error(\"Could not get valid rerank results from the input node ($input.first()), but original data exists. Check the node providing rerank data.\");\n  }\n  // If both are empty, allow it to proceed and return empty.\n}\n\n\n// --- Step 3: Create the New Array in the Reranked Order ---\n// Handle the case where inputs might be empty.\nlet sortedData = [];\nif (rerankOrderInfo && rerankOrderInfo.length > 0 && originalDataItems && originalDataItems.length > 0) {\n    // Iterate through the rerankOrderInfo array. Each element tells us\n    // the index of the item we want from the originalDataItems array.\n    sortedData = rerankOrderInfo.map(rankInfo => {\n      const originalIndex = rankInfo.index;\n\n      // Check if the index is valid for the originalDataItems array\n      if (originalIndex !== undefined && originalIndex !== null && originalIndex >= 0 && originalIndex < originalDataItems.length) {\n        // Retrieve the corresponding original data item (object or string)\n        return originalDataItems[originalIndex];\n      } else {\n        // Log error for invalid index found in rerank results\n        console.error(`Error: Rerank result index ${originalIndex} is invalid or out of bounds for original data (length ${originalDataItems.length}). Skipping this index.`);\n        return null; // Return null for invalid indices\n      }\n    }).filter(item => item !== null); // Remove any nulls caused by invalid indices\n} else {\n    // If inputs were empty or invalid, ensure sortedData is an empty array\n    sortedData = [];\n    console.log(\"Input data (original or rerank info) is empty or invalid, resulting in empty sorted output.\");\n}\n\n\n// --- Step 4: Return the Sorted Data as a Single Item Containing the Array ---\n// This format returns ONE n8n item. The item's json property contains\n// an object with a key 'sortedDocuments' which holds the array.\n// This structure works correctly whether sortedData contains objects or strings.\nreturn [{\n  json: {\n    sortedDocuments: sortedData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3376,
        4192
      ],
      "id": "40644e45-9ce8-43ab-991c-f554295655b3",
      "name": "Return Reordered Items1"
    },
    {
      "parameters": {
        "content": "## Hybrid Search",
        "height": 332,
        "width": 520,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2208,
        3840
      ],
      "id": "302db581-bbd3-42b7-8d17-de9c7f8d1133",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Reranking Model",
        "height": 300,
        "width": 680,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2848,
        3856
      ],
      "id": "eab3c844-2b5a-4687-b445-34bf3523ba3f",
      "name": "Sticky Note12",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.content\nconst chunkSize = 1000;\nconst chunkOverlap = 200;\nconst overlapBoundary = 'word'; // Change to 'sentence' to use sentence boundaries\nconst separators = ['\\n\\n', '\\n', ' ', ''];\n\n/**\n * Adjusts the overlap text so it starts at a word or sentence boundary.\n * For 'word', it backs up to the nearest whitespace.\n * For 'sentence', it looks for a sentence terminator (. ! or ?) in the overlap range,\n * and if found, starts the overlap after that punctuation (skipping extra whitespace).\n *\n * @param {string} prevChunk - The previous chunk of text.\n * @param {number} overlap - The desired minimum number of characters to overlap.\n * @param {string} type - 'word' or 'sentence'.\n * @returns {string} The adjusted overlap text.\n */\nfunction getOverlapBoundary(prevChunk, overlap, type) {\n  // Start candidate position from the end minus the desired overlap length\n  let candidateStart = prevChunk.length - overlap;\n  if (candidateStart < 0) candidateStart = 0;\n  \n  if (type === 'sentence') {\n    const substring = prevChunk.slice(candidateStart);\n    const sentenceRegex = /[.!?]\\s*/g;\n    let lastIndex = -1;\n    let match;\n    // Find the last sentence terminator in the candidate substring.\n    while ((match = sentenceRegex.exec(substring)) !== null) {\n      lastIndex = match.index + match[0].length;\n    }\n    if (lastIndex !== -1 && lastIndex < substring.length) {\n      // Start overlap after the punctuation and any following whitespace.\n      return prevChunk.slice(candidateStart + lastIndex);\n    }\n    // Fallback to word boundary if no sentence terminator is found.\n  }\n  \n  // For word boundaries: back up until you hit whitespace.\n  while (candidateStart > 0 && !/\\s/.test(prevChunk[candidateStart - 1])) {\n    candidateStart--;\n  }\n  return prevChunk.slice(candidateStart);\n}\n\n/**\n * Recursively splits the text into chunks of maximum length, applying overlap that respects word/sentence boundaries.\n * @param {string} text - The text to split.\n * @param {number} chunkSize - The maximum length of each chunk.\n * @param {number} overlap - The number of characters to overlap between chunks.\n * @param {string[]} seps - Array of separators to use for splitting.\n * @returns {string[]} An array of text chunks.\n */\nfunction recursiveSplit(text, chunkSize, overlap, seps) {\n  for (const sep of seps) {\n    const splits = sep ? text.split(sep) : text.split('');\n    let chunks = [];\n    let current = '';\n\n    for (const part of splits) {\n      // Build a tentative chunk (only add the separator if current already has content)\n      const tentative = current ? current + sep + part : part;\n      if (tentative.length <= chunkSize) {\n        current = tentative;\n      } else {\n        if (current) {\n          chunks.push(current);\n        }\n        // If a single part is too large, split it further with the next separator\n        if (part.length > chunkSize) {\n          const subChunks = recursiveSplit(part, chunkSize, overlap, seps.slice(1));\n          chunks.push(...subChunks);\n          current = '';\n        } else {\n          current = part;\n        }\n      }\n    }\n    if (current) {\n      chunks.push(current);\n    }\n\n    // Apply overlap between consecutive chunks while respecting the desired boundary.\n    const finalChunks = chunks.map((chunk, i) => {\n      if (i > 0 && overlap > 0) {\n        const prevChunk = chunks[i - 1];\n        const overlapText = getOverlapBoundary(prevChunk, overlap, overlapBoundary);\n        return overlapText + chunk;\n      }\n      return chunk;\n    });\n\n    if (finalChunks.length > 0) {\n      return finalChunks;\n    }\n  }\n  return [text]; // Fallback: return the full text as a single chunk if no splitting occurred\n}\n\nreturn recursiveSplit(text, chunkSize, chunkOverlap, separators)\n  .map(chunk => ({ json: { chunk } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        2496
      ],
      "id": "179e9b9a-1469-4aa4-ac82-7473adec033e",
      "name": "Chunking"
    },
    {
      "parameters": {
        "batchSize": 15,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4320,
        2432
      ],
      "id": "9bd7d3bc-248f-4202-81fa-ac6c671f7978",
      "name": "Loop over Chunks"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=<document>\n{{ $('Set up Text for Embedding').item.json.content }}\n</document>\nלהלן המקטע שאנו רוצים למקם בתוך המסמך השלם:\n<chunk>\n{{ $json.chunk }}\n</chunk>\nאנא ספק הקשר קצר ותמציתי כדי למקם את המקטע הזה בתוך המסמך הכולל, במטרה לשפר את אחזור החיפוש של המקטע. יש לספק רק את ההקשר התמציתי, ללא כל מלל נוסף."
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        5360,
        2192
      ],
      "id": "f8e11524-eb96-4002-9c61-414c960395e1",
      "name": "Generate Chunk Description",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "openAiApi": {
          "id": "2Gmlg4EyxLmQNqEt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2571a1ec-f6fc-46d6-9361-fc121eacbc99",
              "name": "content",
              "value": "=<תיאור קטע>\n{{ $json.candidates[0].content.parts[0].text }} -\n</תיאור קטע>\n\n\n{{ $('Loop over Chunks').item.json.chunk }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5904,
        2320
      ],
      "id": "f2039d94-59d5-400a-93ed-289c5c11efa0",
      "name": "Setup Chunk for Embedding"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "text": "=Analyze Image and make all the text to markdown format that is clear and readable for AI. \n\nImportant instruction\n- only copy the data from the Image ,do not add text to the markdown",
        "inputType": "binary",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        3904,
        1712
      ],
      "id": "5233f196-e340-4215-b714-afc1d078ee6e",
      "name": "Analyze image1",
      "credentials": {
        "googlePalmApi": {
          "id": "cdIiZ6oLSKLpPtzQ",
          "name": "Google  Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/v1/parsing/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "openai-gpt-5"
            },
            {
              "name": "auto_mode",
              "value": "True"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3904,
        1536
      ],
      "id": "ee96da23-628e-494d-b413-28932d10382b",
      "name": "HTTP Post - Excel",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SKzGM971UFEiDKGS",
          "name": "Header Auth lamaindex"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}/result/raw/markdown",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4592,
        1536
      ],
      "id": "0f30f130-66dc-4ccb-a609-3b0bad7f012e",
      "name": "HTTP Get - Excel",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "SKzGM971UFEiDKGS",
          "name": "Header Auth lamaindex"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "text": "=### תפקיד ###\nאתה AI מומחה לעיבוד והכנת מסמכים עבור מערכות Retrieval-Augmented Generation (RAG). תפקידך להמיר טקסט גולמי לפורמט Markdown סמנטי ועשיר במטא-דאטה, שיהיה אופטימלי לחלוקה למקטעים (Chunking), הטמעה (Embedding) ואחזור מידע (Retrieval).\n\n### משימה ###\nנתח את הטקסט שיסופק לך ובצע את הפעולות הבאות:\n1.  המר את הטקסט כולו לפורמט Markdown נקי ותקני.\n2.  הפק מטא-דאטה רלוונטי מהטקסט והצג אותו בפורמט YAML Frontmatter בתחילת המסמך.\n3.  זהה מידע טבלאי בטקסט והמר אותו לטבלאות Markdown.\n4.  צור תקציר קצר (2-3 משפטים) של תוכן המסמך.\n5.  השתמש בהדגשות כדי לסמן מונחי מפתח וישויות חשובות.\n\n### כללים מחייבים ###\n1.  **איסור מוחלט על הוספת מידע:** אין להמציא מידע שלא קיים בטקסט המקורי. המטא-דאטה והתקציר חייבים להתבסס אך ורק על התוכן הקיים.\n2.  **שימור מלא של הטקסט:** כל התוכן המקורי (למעט המידע שהומר לטבלה) חייב להופיע בפלט.\n3.  **פלט נקי:** הפלט יכיל אך ורק את קוד ה-Markdown, החל מה-YAML Frontmatter. אין להוסיף הקדמות או הסברים.\n4.  **הבטחת שלמות:** ודא שהפלט מכיל את כל הטקסט מהמקור, מהמילה הראשונה ועד המילה האחרונה במסמך\n\n### הוראות עיצוב ו-RAG ###\n-   **YAML Frontmatter:** בראש הקובץ, הוסף מקטע YAML תחום ב-`---`. הפק את השדות הבאים מהטקסט אם ניתן: `title`, `category`,`company_name`, `tags` (רשימה של מילות מפתח), `source_document`, `date`.\n-   **תקציר:** אחרי ה-Frontmatter, הוסף כותרת `## תקציר` ואחריה סיכום קצר של המסמך.\n-   **כותרות:** השתמש במבנה היררכי ברור (`#`, `##`, `###`).\n-   **טבלאות:** אם הטקסט מתאר נתונים במבנה של שורות ועמודות, המר אותו לטבלת Markdown.\n-   **הדגשה סמנטית:** השתמש ב-`**טקסט מודגש**` כדי לסמן **מונחי מפתח, שמות מוצרים, או ישויות חשובות**.\n-   **כללי ריווח:** שמור על שורת רווח ריקה אחרי כותרות, לפני ואחרי רשימות, טבלאות ופסקאות.\n\n### דוגמה ###\n**טקסט קלט לדוגמה:**\n\"דוח רבעוני - פרויקט זאוס. מסמך זה נכתב ב-15.10.2025 ומתאר את התקדמות המוצר. ברבעון האחרון השקנו שתי גרסאות: גרסה 1.1 עם תיקוני באגים, וגרסה 1.2 עם פיצ'ר חדש של אינטגרציה ל-API חיצוני. מחיר המנוי הבסיסי הוא 50$ לחודש, ומחיר מנוי הפרימיום הוא 90$ לחודש. הנושאים המרכזיים שנדון בהם הם ביצועים, שיווק ותכנון לרבעון הבא. מילת המפתח של הרבעון הייתה 'יציבות'.\"\n\n**פלט Markdown רצוי לדוגמה:**\n```markdown\n---\ntitle: דוח רבעוני - פרויקט זאוס\ncategory: דוחות התקדמות\ntags:\n  - זאוס\n  - ביצועים\n  - שיווק\n  - יציבות\nsource_document: דוח רבעוני\ndate: 2025-10-15\ncompany_name: ביטוח ירושלים\n---\n\n## תקציר\nדוח זה מסכם את ההתקדמות בפרויקט **זאוס** לרבעון האחרון. הדוח מכסה השקת גרסאות חדשות (1.1 ו-1.2), מפרט את תמחור המנויים ודן בנושאי ביצועים, שיווק ותכנון עתידי.\n\n## עדכוני גרסאות\nברבעון האחרון השקנו שתי גרסאות חדשות:\n- **גרסה 1.1**: התמקדה בתיקוני באגים ושיפור יציבות.\n- **גרסה 1.2**: כללה פיצ'ר חדש של אינטגרציה ל-API חיצוני.\n\n## תמחור\n| סוג מנוי | מחיר (לחודש) |\n|---|---|\n| בסיסי | $50 |\n| פרימיום | $90 |\n\n## נושאים מרכזיים\nהנושאים המרכזיים שנדון בהם הם **ביצועים**, **שיווק** ותכנון לרבעון הבא. מילת המפתח של הרבעון הייתה '**יציבות**'.",
        "inputType": "binary",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        3904,
        1360
      ],
      "id": "66c8ebff-d0ca-427f-aa75-25c16372cff9",
      "name": "Analyze PDF",
      "credentials": {
        "googlePalmApi": {
          "id": "cdIiZ6oLSKLpPtzQ",
          "name": "Google  Api account"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4192,
        1536
      ],
      "id": "81d658ee-3705-431f-bfcf-ec34a909bf1b",
      "name": "Wait",
      "webhookId": "6fe8ece7-c6d3-4f34-9df5-5b06528d0dbb"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "66d29aa2-7f48-4821-8201-d126dc0c2ca1",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "=application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7d9eae1a-668c-4759-995f-661619f1dd09",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f3458ce9-d949-42ae-85e0-bc24f2a123dd",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Google Sheets"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1ecbf4c5-4626-4c3d-b67d-39a62557b038",
                    "leftValue": "{{ $json.mimeType }}",
                    "rightValue": "application/vnd.ms-excel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel Older"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "414d0913-372c-4d14-9975-ba0f35f808fa",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CSV"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2ec09f68-bcb4-410e-9383-121277b89287",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "image/jpeg",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "jpeg"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0684e025-7b2c-44ba-b38b-c137944a787a",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "image/png",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "png"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b702e222-966d-4a4c-924f-1c4750ec31c7",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PowerPoint"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Fallback to other format "
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2448,
        1472
      ],
      "id": "3b3e6823-6546-48ec-8fa4-13499b91b3af",
      "name": "Switch2"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1v-CqdYGWAgrrcfs2tVaKERD2PWd4ele1",
          "mode": "list",
          "cachedResultName": "recycle bin",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1v-CqdYGWAgrrcfs2tVaKERD2PWd4ele1"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        352,
        576
      ],
      "id": "57fbc52e-5dab-4171-b3c1-0efc38f809d6",
      "name": "Delete Files1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eaceSprlGvh6NBeU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        560,
        576
      ],
      "id": "ac321e22-c3fa-468b-ba8a-c92d0dec1653",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents_v2",
        "filterType": "string",
        "filterString": "=metadata->>doc_id=like.*{{ $('Loop Over Items2').item.json.id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1312,
        480
      ],
      "id": "0334b6a2-a32b-435a-9bc2-e18eaece1c12",
      "name": "Delete Previous Vectors3",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "7JzE3J7k3ob6LCl3",
          "name": "Supabase Accout - AiBot"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1520,
        480
      ],
      "id": "2bedf047-cc14-40fd-82c3-debef4672fee",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "record_manager_v2",
        "filters": {
          "conditions": [
            {
              "keyName": "doc_id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items2').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        672
      ],
      "id": "9faf87dc-fd30-45ac-af13-b37e9827ccb5",
      "name": "Search Record Manager3",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "7JzE3J7k3ob6LCl3",
          "name": "Supabase Accout - AiBot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a6b6fa5-854b-495a-85c0-7361f3e32f6d",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        672
      ],
      "id": "a4520af5-979e-4326-8aaa-a3cc3656a4f6",
      "name": "If4"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "record_manager_v2",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Search Record Manager3').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1744,
        480
      ],
      "id": "2b15e429-f9d6-4f51-9a95-617d206cf0ac",
      "name": "Delete Record from Record Manager2",
      "credentials": {
        "supabaseApi": {
          "id": "7JzE3J7k3ob6LCl3",
          "name": "Supabase Accout - AiBot"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items2').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1984,
        688
      ],
      "id": "48187cdb-d743-466f-8891-965227d1d4bc",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eaceSprlGvh6NBeU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kqaejayxuxhrapeyyhlf.supabase.co/functions/v1/hybrid_search_v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtxYWVqYXl4dXhocmFwZXl5aGxmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU1Mjc1NjMsImV4cCI6MjA3MTEwMzU2M30.xD3ylw5Dh6ZUX7Go2Oosqg5-MmYo0brIvOIrTw8XinM"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n        \"query_text\": \"{{ $('When Executed by Another Workflow').item.json.query }}\",\n        \"query_embedding\": [{{ $json.data[0].embedding }}],\n        \"match_count\": 5\n\n      }",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        4880
      ],
      "id": "1a6597c5-3382-4259-b26b-d4b494a07be1",
      "name": "Trigger Hybrid Search1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        576,
        4288
      ],
      "id": "d5dd321b-b3b8-403f-8480-d56edfcf4f63",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "audioUrls": "={{ $json.downloadUrl }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1040,
        4128
      ],
      "id": "e8a754ef-c5cd-4388-81d4-854e0d33f938",
      "name": "Transcribe a recording1",
      "credentials": {
        "googlePalmApi": {
          "id": "cdIiZ6oLSKLpPtzQ",
          "name": "Google  Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b9a1cf3-c3e1-42c8-b4d0-60de062e5ef5",
              "name": "text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        4128
      ],
      "id": "263d802c-d91f-4bfa-b2dc-cb21e465716b",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        432,
        4288
      ],
      "id": "2850694d-7b5c-4a83-8333-f4087af5de1f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "cdIiZ6oLSKLpPtzQ",
          "name": "Google  Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Code').first().json.senderData.chatId }}",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        416,
        4112
      ],
      "id": "9aead10a-8313-4ab8-bb58-5c53c95c1d1b",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "J7eCi5oQmETVTwu4",
          "name": "Postgres account aibot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kqaejayxuxhrapeyyhlf.supabase.co/functions/v1/Vector-Search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query_embedding\": [{{ $json.data[0].embedding }}],\n  \"match_count\": 5\n   \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        4880
      ],
      "id": "980e0cf4-bbbf-4765-ae4e-b481e81d400d",
      "name": "Supabase Vector Search",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=query : {{ $json.text }}\n\ncompany name: {{ $json.output.company_name }}\n\n\n## Important Fundamental Rules:\n\n1. **It is strictly forbidden to invent information** — answer only based on the data you get from Query_Vector_Store tool\n2. If the information does not exist in the CONTEXT — clearly state: \"סליחה אין לי את המידע במאגר.\"\n3. Do not guess, assume, or add information from your general knowledge.\n\n## Query_Vector_Store tool\nuse this tool to search informtion and anser the question\n\nStage 1: Formatting Rules\n\nAfter sanitization, reformat the text as follows:\n\nMain Title in Bold + Emoji (e.g. *אנשי קשר וטלפונים 📞*)\n\nEmpty line → Short intro → Empty line → Bulleted list\n\nBullets use •\n\nBold key labels (names, departments)\n\nDisplay data in monospace (e.g. 050-1234567)\n\n\nOutput\n\nOutput only the final formatted text, ready for WhatsApp copy.\nDo not include reasoning, metadata, or comments.\n\n###Objective\n\nIdentify, extract, and format the most accurate, relevant company information from the vector store, ensuring factual integrity and clarity.\nyou must send the information only on company that the user ask in the query\n\n\n## Iterative Search Policy - very important\nIf your current search returns no answer:\n- Reformulate and perform a new query in the `Query_Vector_Store`.\n- Repeat up to **3 search attempts**.\n- If still no relevant results, respond again with  \n  \"מצטער, אין לי מידע בנושא.\"\n\n---\n\n### 🙋‍♂️ **User (role: user)**  \nזהו החלק שבו המשתמש מזין את השאלה או הבקשה.  \nלדוגמה:\n\n```markdown\nתן לי מידע על מוקד השירות של חברת הראל ביטוח.\n",
        "options": {
          "systemMessage": "=### role\nYou are an AI Assistant Agent integrated into a Retrieval-Augmented Generation (RAG) system.  \nYour mission is to answer user questions exclusively based on retrieved company or business information from the `Query_Vector_Store` knowledge base.\n\n---\n\n### Core Rules\n1. You must base every answer strictly on data retrieved via the `Query_Vector_Store` tool.  \n2. If no relevant data is returned or the data is unrelated, respond exactly:  \n   \"מצטער, אין לי מידע בנושא.\"  \n3. Never generate, assume, or fabricate any information.\n4. Be concise, clear, and professional.\n5. add the doc_name you use for this informtion in the end of the massage. you need to take the name doc from the metadata only ( You are not allowed to make up a name. )\n---\n\n### Iterative Search Policy - very important\nIf your current search there is no answer \"מצטער, אין לי מידע בנושא\":\n- Reformulate and perform a new query in the `Query_Vector_Store`.\n- Repeat up to **3 search attempts**.\n- If still no relevant results, respond again with  \n  \"מצטער, אין לי מידע בנושא.\"\n\n---\n\n\n\n## Important Fundamental Rules:\n\n1. **It is strictly forbidden to invent information** — answer only based on the data you get from Query_Vector_Store tool\n2. If the information does not exist in the CONTEXT — clearly state: \"סליחה אין לי את המידע במאגר.\"\n3. Do not guess, assume, or add information from your general knowledge.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        336,
        3872
      ],
      "id": "0bb36bca-73b3-416c-8441-a5fb75215691",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        256,
        4304
      ],
      "id": "4873f9c1-0c06-47d1-b050-99ae7a7f847e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2Gmlg4EyxLmQNqEt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cc840ef6-43a0-492a-a45b-cc17b3e88a9f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4320,
        3872
      ],
      "id": "84a14e69-a626-43f3-810a-bd1d1274376a",
      "name": "Webhook1",
      "webhookId": "cc840ef6-43a0-492a-a45b-cc17b3e88a9f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://7105.api.greenapi.com/waInstance7105317211/sendMessage/80a9fcf5b57d4490a80d24b683f1365ad6dfa02c7b0b46ea87",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}\n",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chatId",
              "value": "={{ $('Code').first().json.senderData.chatId }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output ||  $json.no_permission }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        3872
      ],
      "id": "d31cf94b-21fe-4305-b29e-32656337203e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "711b38d3-3e31-4f5f-ae2f-70e6c0cc0a5e",
              "leftValue": "={{ $json.body[0].headers.authorization }}",
              "rightValue": "=cSZ0(£Rb!W,Z8YilH:0q~eG1g.Fqf5|",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3264,
        4800
      ],
      "id": "4dcef6ab-0fe4-4ff6-8fae-f027336dfeb4",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "dortolevi@gmail.com",
        "subject": "ניסיון לשלוח בקשה לבוט ללא אישור ",
        "message": "=פרטי הניסיון\n\nNAME: {{ $json.body[0].body.senderData.senderName }}\nPHONE: {{ $json.body[0].body.senderData.sender }}\nMASSAGE: {{ $json.body[0].body.messageData.extendedTextMessageData.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2912,
        4816
      ],
      "id": "644e193c-9c9b-46bb-9624-487fed6bf150",
      "name": "Send a message",
      "webhookId": "d41ffd57-0bbd-47bd-b25e-8516629c03f5",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## בוחן אם הבקשה מגיעה  מ green APi \n\nאם לא - נשלח מייל לאדמין לבירור \nאם כן - ממשיך",
        "width": 448,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3248,
        4608
      ],
      "id": "79cd14bf-b115-4277-8669-aa35721b7b40",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -3968,
        3568
      ],
      "id": "1069f332-df7e-42b1-bcf6-fcf3f807ee98",
      "name": "Response status code: 200"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://7105.api.greenapi.com/waInstance7105317211/clearWebhooksQueue/80a9fcf5b57d4490a80d24b683f1365ad6dfa02c7b0b46ea87",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2480,
        4816
      ],
      "id": "e3216e40-9196-40e6-9999-cf7822e62977",
      "name": "ClearWebhooksQueue1"
    },
    {
      "parameters": {
        "url": "https://7105.api.greenapi.com/waInstance7105317211/showMessagesQueue/80a9fcf5b57d4490a80d24b683f1365ad6dfa02c7b0b46ea87",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2224,
        4816
      ],
      "id": "a914a5b8-6591-4b15-8755-5fc7351a1aa8",
      "name": "ShowMessagesQueue"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code').item.json.messageData.typeMessage }}",
                    "rightValue": "=extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d38f9c4c-42c3-4c94-bc82-d13869f01be2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "extendedTextMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0a1a1000-f4a5-453e-9c85-b3100018d042",
                    "leftValue": "={{ $('Code').item.json.messageData.typeMessage }}",
                    "rightValue": "textMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "textMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e5fa33bd-d0da-41e5-ad72-c871eaed84d9",
                    "leftValue": "={{ $('Code').item.json.messageData.typeMessage }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioMessage"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1760,
        3824
      ],
      "id": "9ef35ac9-33e6-4ecd-a913-c2649277716e",
      "name": "Switch3"
    },
    {
      "parameters": {
        "jsCode": "// This script finds the real data payload, no matter how nested it is.\n\nconst newItems = [];\n\n// Define a recursive function to find the object containing 'typeWebhook'.\nconst findPayload = (currentObject) => {\n  // If we receive an array, assume the payload is in the first element.\n  if (Array.isArray(currentObject)) {\n    // Check if the array is not empty before accessing the first element\n    return currentObject.length > 0 ? findPayload(currentObject[0]) : null;\n  }\n\n  // If the current object has 'typeWebhook', we've found our payload.\n  if (currentObject && currentObject.typeWebhook) {\n    return currentObject;\n  }\n  \n  // If the current object has a 'body' property, search inside it.\n  if (currentObject && currentObject.body) {\n    return findPayload(currentObject.body);\n  }\n\n  // If we can't find it, return null.\n  return null;\n};\n\n// Loop through each item coming into the node.\n// 'items' is the array of all input items provided by n8n.\nfor (const item of items) {\n  // Call the function to find the payload starting from the item's json.\n  const payload = findPayload(item.json);\n\n  // Replace the entire JSON of the item with the payload we found.\n  // If not found, create an error object so we can handle it later.\n  item.json = payload || { error: 'Webhook payload not found or in an unexpected format' };\n  \n  // Add the modified item to our results array.\n  newItems.push(item);\n}\n\n// Return the array of processed items, as required by n8n.\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3712,
        3872
      ],
      "id": "f9b512d6-7f74-4e12-b70c-ab2743f2caee",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cedd0e00-3a95-4be0-aae0-31a100c28fff",
              "name": "downloadUrl",
              "value": "={{ $('Code').item.json.messageData.fileMessageData.downloadUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        4128
      ],
      "id": "2ce79c76-408b-435b-bc5f-afaff50e747c",
      "name": "downloadUrl"
    },
    {
      "parameters": {
        "content": "## מסדר את מבנה JSON",
        "height": 112,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3728,
        4032
      ],
      "id": "cc09e463-1190-4da5-a798-69c6c5acb381",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ae1bc94-f622-446f-8c5f-f01e4f2bebb3",
              "name": "text",
              "value": "={{ $('Code').item.json.messageData.extendedTextMessageData.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        3616
      ],
      "id": "ae6fca14-653f-4d39-889d-fa42d4aecace",
      "name": "extendedText"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d69e3d2-7bf2-4c51-b287-f486b44ab921",
              "name": "text",
              "value": "={{ $('Code').item.json.messageData.textMessageData.textMessage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        3872
      ],
      "id": "376b9a85-f431-4eb3-8298-693458375a59",
      "name": "textMessage"
    },
    {
      "parameters": {
        "content": "## typeMessage",
        "height": 112,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2080,
        4000
      ],
      "id": "9870f14b-6373-4148-b122-1cd07ca0e951",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb6e3090-2967-41b9-a30a-a7d65dba0c38",
              "name": "=typeMessage",
              "value": "={{ $json.messageData.typeMessage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2064,
        3840
      ],
      "id": "abac0f3e-f02e-4520-bf0b-8e61e08cd129",
      "name": "typeMessage"
    },
    {
      "parameters": {
        "content": "## Http לטיפול ב Green API\n\nמחיקה queue\nכמות queue\nלקבל queue",
        "width": 640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2496,
        4592
      ],
      "id": "55d322a6-5be6-4873-9c83-0ebc9cab39ce",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "url": "https://7105.api.greenapi.com/waInstance7105317211/getWebhooksCount/80a9fcf5b57d4490a80d24b683f1365ad6dfa02c7b0b46ea87",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1984,
        4816
      ],
      "id": "6be4c956-1307-40b3-9b20-a6fd801ed820",
      "name": "getWebhooksCount"
    },
    {
      "parameters": {
        "tableName": "=n8n_chat_histories",
        "contextWindowLength": "={{ $json.chatInput }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1776,
        4208
      ],
      "id": "78e5078a-ef90-42e5-8914-8b333a042085",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "J7eCi5oQmETVTwu4",
          "name": "Postgres account aibot"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=\n<document>\n{{ $('Set up Text for Embedding').item.json.content }}\n</document>\nלהלן המקטע שאנו רוצים למקם בתוך המסמך השלם:\n<chunk>\n{{ $json.chunk }}\n</chunk>\nאנא ספק הקשר קצר ותמציתי כדי למקם את המקטע הזה בתוך המסמך הכולל, במטרה לשפר את אחזור החיפוש של המקטע. יש לספק רק את ההקשר התמציתי, ללא כל מלל נוסף."
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        4912,
        2336
      ],
      "id": "54c320f2-1bd7-40f5-a926-3f9124c909c0",
      "name": "Message a model",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "googlePalmApi": {
          "id": "cdIiZ6oLSKLpPtzQ",
          "name": "Google  Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "tableId": "record_manager_v2",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "doc_id",
              "fieldValue": "={{ $('Set Data').item.json.doc_id }}"
            },
            {
              "fieldId": "hash",
              "fieldValue": "={{ $('Generate Hash').item.json.hash }}"
            },
            {
              "fieldId": "file_name",
              "fieldValue": "={{ $('New Files').item.json.originalFilename }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1920,
        2496
      ],
      "id": "1fde9ca0-f64d-4c46-8c5f-60cd3f87309b",
      "name": "Create Row in Record Manager",
      "credentials": {
        "supabaseApi": {
          "id": "7JzE3J7k3ob6LCl3",
          "name": "Supabase Accout - AiBot"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "doc_id",
                "value": "={{ $('Set Data').item.json.doc_id }}"
              },
              {
                "name": "category",
                "value": "={{ $('Basic LLM Chain').item.json.output.category }}"
              },
              {
                "name": "doc_name",
                "value": "={{ $('Set Data').item.json.doc_name }}"
              },
              {
                "name": "file_summary",
                "value": "={{ $('Basic LLM Chain').item.json.output.document_summary }}"
              },
              {
                "name": "doc_type",
                "value": "={{ $('Set Data').item.json.doc_type }}"
              },
              {
                "name": "company_name",
                "value": "={{ $('Basic LLM Chain').item.json.output.company_Name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        6272,
        2592
      ],
      "id": "8ecbff19-e0ac-4f41-9d93-4a5b4f3c531d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        6320,
        2816
      ],
      "id": "a0273e8d-4c78-41e3-be98-eadc315ec5e4",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        5504,
        1120
      ],
      "id": "09b0626a-a902-4a7f-8eeb-47388709f42a",
      "name": "AI Agent2",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=### תפקיד ###\nאתה AI מומחה לעיבוד והכנת מסמכים עבור מערכות Retrieval-Augmented Generation (RAG). תפקידך להמיר טקסט גולמי לפורמט Markdown סמנטי ועשיר במטא-דאטה, שיהיה אופטימלי לחלוקה למקטעים (Chunking), הטמעה (Embedding) ואחזור מידע (Retrieval).\n\n### משימה ###\nנתח את הטקסט שיסופק לך ובצע את הפעולות הבאות:\n1.  המר את הטקסט כולו לפורמט Markdown נקי ותקני.\n2.  הפק מטא-דאטה רלוונטי מהטקסט והצג אותו בפורמט YAML Frontmatter בתחילת המסמך.\n3.  זהה מידע טבלאי בטקסט והמר אותו לטבלאות Markdown.\n4.  צור תקציר קצר (2-3 משפטים) של תוכן המסמך.\n5.  השתמש בהדגשות כדי לסמן מונחי מפתח וישויות חשובות.\n\n### כללים מחייבים ###\n1.  **איסור מוחלט על הוספת מידע:** אין להמציא מידע שלא קיים בטקסט המקורי. המטא-דאטה והתקציר חייבים להתבסס אך ורק על התוכן הקיים.\n2.  **שימור מלא של הטקסט:** כל התוכן המקורי (למעט המידע שהומר לטבלה) חייב להופיע בפלט.\n3.  **פלט נקי:** הפלט יכיל אך ורק את קוד ה-Markdown, החל מה-YAML Frontmatter. אין להוסיף הקדמות או הסברים.\n4.  **הבטחת שלמות:** ודא שהפלט מכיל את כל הטקסט מהמקור, מהמילה הראשונה ועד המילה האחרונה במסמך\n\n### הוראות עיצוב ו-RAG ###\n-   **YAML Frontmatter:** בראש הקובץ, הוסף מקטע YAML תחום ב-`---`. הפק את השדות הבאים מהטקסט אם ניתן: `title`, `category`,`company_name`, `tags` (רשימה של מילות מפתח), `source_document`, `date`.\n-   **תקציר:** אחרי ה-Frontmatter, הוסף כותרת `## תקציר` ואחריה סיכום קצר של המסמך.\n-   **כותרות:** השתמש במבנה היררכי ברור (`#`, `##`, `###`).\n-   **טבלאות:** אם הטקסט מתאר נתונים במבנה של שורות ועמודות, המר אותו לטבלת Markdown.\n-   **הדגשה סמנטית:** השתמש ב-`**טקסט מודגש**` כדי לסמן **מונחי מפתח, שמות מוצרים, או ישויות חשובות**.\n-   **כללי ריווח:** שמור על שורת רווח ריקה אחרי כותרות, לפני ואחרי רשימות, טבלאות ופסקאות.\n\n### דוגמה ###\n**טקסט קלט לדוגמה:**\n\"דוח רבעוני - פרויקט זאוס. מסמך זה נכתב ב-15.10.2025 ומתאר את התקדמות המוצר. ברבעון האחרון השקנו שתי גרסאות: גרסה 1.1 עם תיקוני באגים, וגרסה 1.2 עם פיצ'ר חדש של אינטגרציה ל-API חיצוני. מחיר המנוי הבסיסי הוא 50$ לחודש, ומחיר מנוי הפרימיום הוא 90$ לחודש. הנושאים המרכזיים שנדון בהם הם ביצועים, שיווק ותכנון לרבעון הבא. מילת המפתח של הרבעון הייתה 'יציבות'.\"\n\n**פלט Markdown רצוי לדוגמה:**\n```markdown\n---\ntitle: דוח רבעוני - פרויקט זאוס\ncategory: דוחות התקדמות\ntags:\n  - זאוס\n  - ביצועים\n  - שיווק\n  - יציבות\nsource_document: דוח רבעוני\ndate: 2025-10-15\ncompany_name: ביטוח ירושלים\n---\n\n## תקציר\nדוח זה מסכם את ההתקדמות בפרויקט **זאוס** לרבעון האחרון. הדוח מכסה השקת גרסאות חדשות (1.1 ו-1.2), מפרט את תמחור המנויים ודן בנושאי ביצועים, שיווק ותכנון עתידי.\n\n## עדכוני גרסאות\nברבעון האחרון השקנו שתי גרסאות חדשות:\n- **גרסה 1.1**: התמקדה בתיקוני באגים ושיפור יציבות.\n- **גרסה 1.2**: כללה פיצ'ר חדש של אינטגרציה ל-API חיצוני.\n\n## תמחור\n| סוג מנוי | מחיר (לחודש) |\n|---|---|\n| בסיסי | $50 |\n| פרימיום | $90 |\n\n## נושאים מרכזיים\nהנושאים המרכזיים שנדון בהם הם **ביצועים**, **שיווק** ותכנון לרבעון הבא. מילת המפתח של הרבעון הייתה '**יציבות**'.\n\n### המאמר המלא ###\n{{ $json.data || $json.candidates[0].content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        5008,
        1536
      ],
      "id": "3f838fb6-f0a3-4e0b-9b6c-c6b676191273",
      "name": "Message a model1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "cdIiZ6oLSKLpPtzQ",
          "name": "Google  Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d26cdb78-89d9-4b04-8d29-914cdfb1080d",
              "name": "",
              "value": "={{ $('Set up Text for Embedding').item.json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3520,
        2288
      ],
      "id": "fe52d37d-23c2-4a2d-82de-8e50f5a78a37",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "// === MERGE COHERE RESULTS WITH ORIGINAL METADATA ===\n\nconst inputData = $input.first().json;\n\nconsole.log('=== INPUT DATA ===');\nconsole.log('Keys:', Object.keys(inputData));\n\n// Get Cohere results\nconst cohereResults = inputData.results;\n\nif (!cohereResults || !Array.isArray(cohereResults)) {\n  return [{\n    json: {\n      error: 'No Cohere results found',\n      available_keys: Object.keys(inputData),\n      hint: 'Make sure this node receives data from Cohere Rerank'\n    }\n  }];\n}\n\n// Get original documents - need to fetch from \"Create Array\" node\n// Since N8N passes inputs separately, we need to access the workflow data\nconst workflowData = $('Create Array').first().json;\n\nif (!workflowData || !workflowData.original_documents) {\n  return [{\n    json: {\n      error: 'No original documents found',\n      hint: 'Make sure \"Create Array\" node saves original_documents',\n      create_array_keys: workflowData ? Object.keys(workflowData) : 'Node not found'\n    }\n  }];\n}\n\nconst originalDocuments = workflowData.original_documents;\n\nconsole.log('✓ Found', cohereResults.length, 'Cohere results');\nconsole.log('✓ Found', originalDocuments.length, 'original documents');\n\n// Merge Cohere results with original documents\nconst enrichedResults = cohereResults.map(result => {\n  const originalDoc = originalDocuments[result.index];\n  \n  if (!originalDoc) {\n    console.warn(`Warning: No document found at index ${result.index}`);\n    return null;\n  }\n  \n  return {\n    content: originalDoc.content,\n    metadata: originalDoc.metadata,\n    relevance_score: result.relevance_score,\n    original_index: result.index\n  };\n}).filter(doc => doc !== null);\n\n// Sort by relevance score (highest first)\nenrichedResults.sort((a, b) => b.relevance_score - a.relevance_score);\n\nconsole.log('✓ Successfully merged', enrichedResults.length, 'documents');\n\nreturn [{\n  json: {\n    reranked_documents: enrichedResults,\n    total_documents: enrichedResults.length,\n    top_relevance_score: enrichedResults[0]?.relevance_score || 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3392,
        3952
      ],
      "id": "a361ac9e-a350-4afc-8325-b13b42be7079",
      "name": "Merge Results with Metadata"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -480,
        4128
      ],
      "id": "41db1487-8b76-4f18-a7ef-d60ca80c1c97",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "2Gmlg4EyxLmQNqEt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check which nodes have data and merge them\nlet text = '';\n\ntry {\n  const extendedText = $('extendedText').item?.json?.text;\n  if (extendedText) text = extendedText;\n} catch {}\n\ntry {\n  const editFields = $('Edit Fields').item?.json?.text;\n  if (editFields && !text) text = editFields;\n} catch {}\n\ntry {\n  const textMessage = $('textMessage').item?.json?.text;\n  if (textMessage && !text) text = textMessage;\n} catch {}\n\nreturn [{\n  json: {\n    text: text || 'No text available',\n    ...items[0].json\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        3872
      ],
      "id": "6eb4f874-824e-4489-9bc5-34546c9b7fdf",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=query : {{ $('When chat message received').item.json.chatInput }}\n\ncompany name: {{ $json.output.company_name }}\n\n\n\nStage 1: Text Sanitization\n\nPerform the following cleanup steps before formatting:\n\nRemove all *, _, and ~.\n\nReplace multiple spaces with a single space.\n\nRemove spaces at line start/end.\n\nAdd missing colons (:) after field names like “מוקד תביעות”.\n\nStage 2: Formatting Rules\n\nAfter sanitization, reformat the text as follows:\n\nMain Title in Bold + Emoji (e.g. *אנשי קשר וטלפונים 📞*)\n\nEmpty line → Short intro → Empty line → Bulleted list\n\nBullets use •\n\nBold key labels (names, departments)\n\nDisplay data in monospace (e.g. 050-1234567)\n\n\nOutput\n\nOutput only the final formatted text, ready for WhatsApp copy.\nDo not include reasoning, metadata, or comments.\n\n###Objective\n\nIdentify, extract, and format the most accurate, relevant company information from the vector store, ensuring factual integrity and clarity.\nyou must send the information only on company that the user ask in the query\n\n\n## Iterative Search Policy - very important\nIf your current search returns no answer:\n- Reformulate and perform a new query in the `Query_Vector_Store`.\n- Repeat up to **3 search attempts**.\n- If still no relevant results, respond again with  \n  \"מצטער, אין לי מידע בנושא.\"\n\n---\n\n### 🙋‍♂️ **User (role: user)**  \nזהו החלק שבו המשתמש מזין את השאלה או הבקשה.  \nלדוגמה:\n\n```markdown\nתן לי מידע על מוקד השירות של חברת הראל ביטוח.\n\nJson Stracture for tool Query_Vector_Store\n\n\n  {\n    \"query\": \"search text here\",\n    \"company_name\": \"the name of the company\"\n  }\n\n\n",
        "options": {
          "systemMessage": "=### role\nYou are an AI Assistant Agent integrated into a Retrieval-Augmented Generation (RAG) system.  \nYour mission is to answer user questions exclusively based on retrieved company or business information from the `Query_Vector_Store` knowledge base.\n\n---\n\n### Core Rules\n1. You must base every answer strictly on data retrieved via the `Query_Vector_Store` tool.  \n2. If no relevant data is returned or the data is unrelated, respond exactly:  \n   \"מצטער, אין לי מידע בנושא.\"  \n3. Never generate, assume, or fabricate any information.\n4. Be concise, clear, and professional.\n5. add the doc_name you use for this informtion in the end of the massage. you need to take the name doc from the metadata only ( You are not allowed to make up a name. )\n---\n\n### Iterative Search Policy - very important\nIf your current search there is no answer \"מצטער, אין לי מידע בנושא\":\n- Reformulate and perform a new query in the `Query_Vector_Store`.\n- Repeat up to **3 search attempts**.\n- If still no relevant results, respond again with  \n  \"מצטער, אין לי מידע בנושא.\"\n\n---\n\n### Tool Definition\nWhen performing a query, return only a valid JSON object:\n```json\n\n  {\n    \"query\": \"search text here\",\n    \"company_name\": \"the name of the company\"\n  }\n\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1696,
        3952
      ],
      "id": "244c108c-877f-4ba9-b84e-cad385d0c9d3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=בהתבסס על ההקשר, כתוב metadata מתאים \nעליך לכתוב את שם החברה בהקשר לשאלה שנשאלה\nדוגמא\n\nOnly output in JSON\n\n{\n\t\"company_name\": \"<הראל>\"\n}\n\nהנה הרשימה של חברות שאתה צריך לבחור אחת מהם: \nסלע \nהראל\nמנורה\nכלל\nפניקס\nאיילון\nאנליסט\nאלטשולר\nמור\nמיטב\nמגדל\nהכשרה\n\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1328,
        3952
      ],
      "id": "f52743e3-0d61-47c6-8e61-38bdb18deb3a",
      "name": "Prep Metadata1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"company_name\": \"<ADD>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1440,
        4192
      ],
      "id": "16a2d5d6-d1e0-4241-bfe4-a0d5483f6ad1",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1248,
        4208
      ],
      "id": "3a8cedfd-9396-425f-adbc-64a86ef1794e",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "2Gmlg4EyxLmQNqEt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bbb53ca4-ad04-462a-9596-533efc7b4640",
              "name": "query_text",
              "value": "=={{ $('When Executed by Another Workflow').item.json.query }}",
              "type": "string"
            },
            {
              "id": "88d74645-5ea2-4f22-af50-bad8d87d68f4",
              "name": "query_embedding",
              "value": "={{ $json.data[0].embedding }}",
              "type": "string"
            },
            {
              "id": "a4b71955-8b61-494b-89f7-9edfc6a89334",
              "name": "match_count",
              "value": "20",
              "type": "string"
            },
            {
              "id": "1de7c7ec-7ea8-4163-9e03-1be6083b7750",
              "name": "filter",
              "value": "=={{ { \"company_name\": $('When Executed by Another Workflow').item.json.company_name || \"\" } }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3024,
        4176
      ],
      "id": "f7a872b4-9c34-49dd-ab45-9850bf342841",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "tableId": "contacts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Phone",
              "fieldValue": "={{ $('Code').first().json.senderData.chatId }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "=\n{{ $('Code').first().json.senderData.senderName }}"
            },
            {
              "fieldId": "question ask",
              "fieldValue": "=נציג: {{ $('Code in JavaScript').item.json.text }}\n\nתשובה AI: {{ $json.output }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now.setZone('Asia/Jerusalem').format('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        4096
      ],
      "id": "d5f75031-53da-49f1-905a-f00e4459312e",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "7JzE3J7k3ob6LCl3",
          "name": "Supabase Accout - AiBot"
        }
      }
    },
    {
      "parameters": {
        "model": "x-ai/grok-4-fast",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        272,
        4128
      ],
      "id": "e66252aa-2848-4555-a244-b55496e0a02a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "vnwQ2z0zUvfmOQjd",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function normalizePhoneNumber(phoneNumber) {\n  if (!phoneNumber) {\n    return null;\n  }\n\n  let cleaned = String(phoneNumber).trim();\n  \n  // הסר @c.us או @s.whatsapp.net\n  cleaned = cleaned.replace(/@c\\.us$/i, '').replace(/@s\\.whatsapp\\.net$/i, '');\n  \n  // הסר תווים לא נומריים (למעט + בהתחלה)\n  if (cleaned.startsWith('+')) {\n    cleaned = '+' + cleaned.substring(1).replace(/\\D/g, '');\n  } else {\n    cleaned = cleaned.replace(/\\D/g, '');\n  }\n\n  // הסר קידומות בינלאומיות\n  if (cleaned.startsWith('+972')) {\n    cleaned = cleaned.substring(4);\n  } else if (cleaned.startsWith('972')) {\n    cleaned = cleaned.substring(3);\n  } else if (cleaned.startsWith('00972')) {\n    cleaned = cleaned.substring(5);\n  }\n\n  // הוסף 0 בהתחלה אם צריך\n  if (!cleaned.startsWith('0') && cleaned.length === 9) {\n    return '0' + cleaned;\n  }\n\n  // אם כבר יש 0 ו-10 ספרות\n  if (cleaned.startsWith('0') && cleaned.length === 10) {\n    return cleaned;\n  }\n\n  return null;\n}\n\nconst results = items.map(item => {\n  const normalized = normalizePhoneNumber(item.json.senderData.sender);\n  return { \n    json: { \n      normalizedPhone: normalized \n    } \n  };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3328,
        3872
      ],
      "id": "7af92351-2e77-433b-b097-8aa4ed3381fb",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "ilike",
              "keyValue": "=%{{ $json.normalizedPhone }}%"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2992,
        3872
      ],
      "id": "23296495-3dd5-46f0-bd6c-c03475acc2f6",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "F9TQ30YkWWVwli8r",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c8553a30-b672-4f03-831c-d2fa118838fb",
              "leftValue": "={{ $json.is_active }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2592,
        3872
      ],
      "id": "ccc57305-6cd8-4bc8-ad4d-99b3b5ede907",
      "name": "If3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3200,
        4208
      ],
      "id": "f60713c0-fe0b-4e43-b20e-5a5299c47a40",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "249ed96f-7a59-4fc8-9c62-e215d49176eb",
              "name": "no_permission",
              "value": "אין לך הרשאה ,נא לפנות לאדמין ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2000,
        4432
      ],
      "id": "4046697c-a6d8-42f1-ac54-18e75ebd96b2",
      "name": "Edit Fields3"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Prep Metadata1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Generate Hash": {
      "main": [
        [
          {
            "node": "Search Record Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Record Manager": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "main": [
        [
          {
            "node": "Loop over Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create Row in Record Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Previous Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Previous Vectors": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update our Record Manager": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Update our Record Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Set up Text for Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Prep Metadata",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Text": {
      "main": [
        [
          {
            "node": "Generate Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set up Text for Embedding": {
      "main": [
        [
          {
            "node": "Chunking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Files": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updated Files": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Base64 the Markdown",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 the Markdown": {
      "main": [
        [
          {
            "node": "Convert to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File": {
      "main": [
        [
          {
            "node": "Archive File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Trigger Firecrawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Generate Embedding From Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding From Query": {
      "main": [
        [
          {
            "node": "Trigger Hybrid Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Hybrid Search": {
      "main": [
        [
          {
            "node": "Create Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rerank with Cohere 3.5": {
      "main": [
        [
          {
            "node": "Merge Results with Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Array": {
      "main": [
        [
          {
            "node": "Rerank with Cohere 3.5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunking": {
      "main": [
        [
          {
            "node": "Loop over Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over Chunks": {
      "main": [
        [
          {
            "node": "If File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Chunk Description": {
      "main": [
        [
          {
            "node": "Setup Chunk for Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Chunk for Embedding": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Post - Excel": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Get - Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Analyze PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Post - Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Post - Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Post - Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Post - Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze image1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze image1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Post - Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Post - Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image1": {
      "main": [
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Get - Excel": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze PDF": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Files1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Search Record Manager3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Previous Vectors3": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Delete Record from Record Manager2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Record Manager3": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Delete Previous Vectors3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Record from Record Manager2": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Prep Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Response status code: 200",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "extendedText",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "textMessage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "downloadUrl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "downloadUrl": {
      "main": [
        [
          {
            "node": "Transcribe a recording1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extendedText": {
      "main": [
        [
          {
            "node": "Prep Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "typeMessage": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "textMessage": {
      "main": [
        [
          {
            "node": "Prep Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Setup Chunk for Embedding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Chunk Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Row in Record Manager": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Reordered Items1": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Prep Metadata",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prep Metadata": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Metadata1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Prep Metadata1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Prep Metadata1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "typeMessage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "a732569a-f907-4dd9-b179-14950bc2cdde",
  "meta": {
    "instanceId": "a36a1358397c93bf712997779c8b6861d02c400c443b952742e9cc95f3806f33"
  },
  "id": "w6TnsUQLAMqcNBXe",
  "tags": [
    {
      "updatedAt": "2025-09-14T10:30:21.896Z",
      "createdAt": "2025-09-14T10:30:21.896Z",
      "id": "LjMbN9KsNSQkzD4i",
      "name": "sela insurance"
    }
  ]
}