selai-integration-hub/n8n-workflows/05_customer_data_sync.json
{
  "name": "SELAI - Customer Data Sync from Integration Hub",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,id_number,agent_id,full_name"
            },
            {
              "name": "status",
              "value": "eq.active"
            },
            {
              "name": "last_sync_at",
              "value": "lt.{{ $now.minus(24, 'hours').toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-contacts-to-sync",
      "name": "Get Contacts to Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "split-batches",
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.INTEGRATION_HUB_URL }}/api/v1/customers/{{ $json.id }}/360",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "idNumber",
              "value": "={{ $json.id_number }}"
            },
            {
              "name": "sync",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "fetch-customer-360",
      "name": "Fetch Customer 360",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hub-api-key",
          "name": "Integration Hub API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "gap-check",
              "leftValue": "={{ $json.gaps_identified.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-gaps",
      "name": "Has Coverage Gaps?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tasks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contact_id\": \"{{ $('Get Contacts to Sync').item.json.id }}\",\n  \"agent_id\": \"{{ $('Get Contacts to Sync').item.json.agent_id }}\",\n  \"title\": \"פערי כיסוי זוהו - {{ $('Get Contacts to Sync').item.json.full_name }}\",\n  \"description\": \"זוהו {{ $json.gaps_identified.length }} פערי כיסוי:\\n{{ $json.gaps_identified.map(g => '- ' + g.description).join('\\n') }}\",\n  \"type\": \"coverage_gap\",\n  \"priority\": \"{{ $json.gaps_identified.some(g => g.priority === 'high') ? 'high' : 'medium' }}\",\n  \"status\": \"pending\",\n  \"due_date\": \"{{ $now.plus(7, 'days').toISO() }}\"\n}",
        "options": {}
      },
      "id": "create-gap-task",
      "name": "Create Gap Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "method": "PATCH",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "eq.{{ $('Get Contacts to Sync').item.json.id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"last_sync_at\": \"{{ $now.toISO() }}\",\n  \"total_coverage\": {{ $json.total_coverage || 0 }},\n  \"total_pension_balance\": {{ $json.total_pension_balance || 0 }},\n  \"gaps_count\": {{ $json.gaps_identified ? $json.gaps_identified.length : 0 }}\n}",
        "options": {}
      },
      "id": "update-contact-sync",
      "name": "Update Contact Sync Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "rate-limit-wait",
      "name": "Rate Limit Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1560, 300]
    },
    {
      "parameters": {},
      "id": "loop-back",
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Contacts to Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts to Sync": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Batches": {
      "main": [
        [
          {
            "node": "Fetch Customer 360",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Customer 360": {
      "main": [
        [
          {
            "node": "Has Coverage Gaps?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Coverage Gaps?": {
      "main": [
        [
          {
            "node": "Create Gap Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Contact Sync Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Gap Task": {
      "main": [
        [
          {
            "node": "Update Contact Sync Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact Sync Status": {
      "main": [
        [
          {
            "node": "Rate Limit Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Wait": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["SELAI", "Integration", "Sync"],
  "triggerCount": 1,
  "updatedAt": "2025-01-15T12:00:00.000Z",
  "versionId": "1"
}
